{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h1>Panel del Profesor</h1>
    <p>Bienvenido, {{ request.user.username }}.</p>
    
    <a href="{% url 'professor_create_course' %}" class="btn btn-primary mb-3">Crear Nuevo Curso</a>

    <h2 class="mt-4">Mis Cursos</h2>
    <div class="list-group">
        {% for curso in lista_cursos %}
            <div class="list-group-item">
                <h5 class="mb-1">{{ curso.nombre_curso }}</h5>
                <a href="{% url 'professor_manage_course' curso.id_cursos %}" class="btn btn-sm btn-outline-primary">
                    Ver Exámenes de este Curso
                </a>
            </div>
        {% empty %}
            <p>No has creado ningún curso.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}