{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <nav aria-label="breadcrumb">
        </nav>
    
    <h1>Gestionar Alternativas</h1>
    <h4>Pregunta: "{{ pregunta.texto_pregunta }}"</h4>

    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
    {% endif %}
    
    <a href="{% url 'professor_create_alternative' pregunta.id_preguntas_examen %}" class="btn btn-primary mb-3">
        <i class="bi bi-plus-circle"></i> Añadir Alternativa
    </a>

    <ul class="list-group">
        {% for alt in lista_alternativas %}
            <li class="list-group-item d-flex justify-content-between align-items-center
                {% if alt.valor == 'C' %} list-group-item-success {% endif %}">
                
                {{ alt.texto_alternativa }}
                
                {% if alt.valor == 'C' %}
                    <span class="badge bg-success">Correcta</span>
                {% endif %}
                
                <div>
                    <a href="{% url 'professor_edit_alternative' alt.id_alternativas_examen %}" class="btn btn-sm btn-outline-secondary">Editar</a>
                    <a href="{% url 'professor_delete_alternative' alt.id_alternativas_examen %}" class="btn btn-sm btn-outline-danger">Eliminar</a>
                </div>
            </li>
        {% empty %}
            <p>No has añadido alternativas a esta pregunta.</p>
        {% endfor %}
    </ul>
    
    <a href="{% url 'professor_manage_questions' pregunta.id_examen.id_examen %}" class="btn btn-secondary mt-3">Volver a las Preguntas</a>
</div>
{% endblock %}